[submodule "VIU_TFM_LaTeX_template"]
	path = VIU_TFM_LaTeX_template
	url = git@github.com:yuki/VIU_TFM_LaTeX_template
[submodule "Actividad_voluntaria/jawc"]
	path = Actividad_voluntaria/jawc
	url = git@github.com:yuki/jawc.git
