<h1 class="titulo">Series</h1>
<div class="row justify-content-center">

  <table *ngIf="this.series.length>0;else elseBlock"  class="col-8 text-center">
      <tr>
        <th></th>
        <th>Nombre</th>
        <th class="col-md-3">Sinopsis</th>
        <th>Emisión</th>
        <th>URL</th>

      </tr>
      <tr *ngFor="let item of series">
        <td><a href="/series/{{item.id}}"><img class="serie_img"src="{{item.photo}}"></a></td>
        <td><a href="/series/{{item.id}}">{{item.nombre}}</a></td>
        <td class="text-start">{{item.sinopsis}}</td>
        <td>{{item.inicio}} - <span *ngIf="item.fin>0">{{item.fin }}</span></td>
        <td><a href="{{item.url}}">IMDB</a></td>
      </tr>
  </table>

  <ng-template #elseBlock>
    <div class="alert alert-danger text-center offset-4 col-4" role="alert">
        No hay series
    </div>
  </ng-template>

</div>