<div class="row justify-content-center">

  <div *ngIf="plataforma_id!=-1;else elseBlock" class="col-8">
    <h1 class="titulo">Series</h1>
    <table  class="text-center">
        <tr>
          <th></th>
          <th>Nombre</th>
          <th class="col-md-3">Sinopsis</th>
          <th>Emisión</th>
          <th>URL</th>

        </tr>
        <tr *ngFor="let item of series">
          <td class="col-2"><a href="/series/{{item.id}}"><img class="serie_img"src="{{item.photo}}"></a></td>
          <td><a href="/series/{{item.id}}">{{item.nombre}}</a></td>
          <td class="text-start">{{item.sinopsis}}</td>
          <td>{{item.inicio}} - <span *ngIf="item.fin>0">{{item.fin }}</span></td>
          <td><a href="{{item.url}}">IMDB</a></td>
        </tr>
    </table>
  </div>

  <ng-template #elseBlock>
    <h1 class="titulo">Igual te interesa...</h1>
    <div class="row justify-content-center">
      <!-- Vista si se llama desde INICIO -->
      <div *ngFor="let item of series" class="text-center carrousel text-center col-2">
        <a href="series/{{item.id}}">
          <img class="serie_carrousel_img" src="{{item.photo}}"> <br>
          {{item.nombre}}
        </a>
      </div>
    </div> 
  </ng-template>

</div>