img.serie_img {
    min-width: 100px;
    max-width: 90%;
    margin-right: 10px;
    border-radius: 15px;
}
td {
    padding-bottom: 10px;
}

img.serie_carrousel_img {
    max-width: 99%;
    border-radius: 15px;
}

div.carrousel{
    display: inline;
    /* margin-right: 15px; */
}