img.celebrity_img {
    max-width: 120px;
    max-height: 220px;
    margin-right: 10px;
    border-radius: 15px;
}

td {
    padding-bottom: 10px;
}

div.carrousel{
    display: inline;
    max-width: 140px;
    margin-right: 5px;
}