:root {
    --corporativo: #F25416;
    /* --bs-dark-rgb: var(--corporativo);
    --bs-bg-opacity: var(--corporativo); */
}

a {
    color: var(--corporativo);
}

/* Para la página inicial */
.fila_imagenes {
    display: inline;
}

img.imagen_carrousel{
    max-width: 100%;
    /* margin-right: 15px; */
}
div.carrousel{
    display: inline;
    max-width: 140px;
    margin-right: 5px;
}


/* Resto de CSS */
img.casting_mini{
    max-width: 150px;
    max-height: 150px;
    padding-right: 20px;
}

img.platform_mini{
    max-width: 70px;
    max-height: 70px;
}

img.imagen{
    max-width: 230px;
    max-height: 150px;
    margin-right: 20px;
}

img.imagen_mini{
    max-width: 150px;
    max-height: 150px;
}

img.imagen_grande{
    max-width: 300px;
    max-height: 350px;
    margin-right: 20px;
}

.sinopsis {
    padding-left: 50px;
    border-left: 10px solid grey;
}

.emitido {
    padding-left: 50px;
    border-left: 10px solid var(--corporativo);
}

