<div *ngIf="serie.id>0;else elseBlock">
    <div class="row align-items-center">
        <!-- align-items-center text-center   d-flex align-items-center justify-content-center-->
        <div class="offset-2 col-3">
            <!-- <div class="offset-1 col-3"> -->
                <img class="serie_big" src="{{serie.photo}}">
            <!-- </div> -->
            <!-- <div class="col"> -->
                <!-- <span class="plataforma">{{plataforma.nombre}}</span> -->
            <!-- </div> -->
        </div>
        <div class="col-5">
            <h1>{{serie.nombre}}</h1>
            <p class="sinopsis">{{serie.sinopsis}}</p>
            <p class="emision"><strong>Emisión:</strong> {{serie.inicio}} - <span *ngIf="serie.fin">{{serie.fin}}</span></p>
            <p><a href="{{serie.url}}" target="_blank">Ficha en IMDB</a></p>

            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#trailerModal">
                Ver trailer
              </button>
        </div>
    </div>
    <app-modal [serie]="serie"></app-modal>

    <div id="celebrities">
        <app-celebrities [serie_id]="serie.id" (celebrity_count)="show_celebrities($event)" #celebrities></app-celebrities>
    </div>

    <div class="d-flex align-items-center justify-content-center" *ngIf="celebrity_count==0">
        <div class="col-4 alert alert-warning text-center mt-5" role="alert">
            <h5>Esta serie todavía no tiene celebrities</h5>
        </div>
    </div>
</div>

<ng-template #elseBlock>
    <div class="alert alert-danger text-center" role="alert">
        <h1>La serie no existe</h1>
    </div>
</ng-template>
