/*
 * Variables
 */

:root {
    --corporativo: #F25416;
}

/*
 * CSS Generales
 */

a {
    color: var(--corporativo);
}

td {
    padding-bottom: 30px;
}

th {
    padding-bottom: 30px;
}

h1, .titulo {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

h1.show {
    text-align: left;
}

/*
 * Welcome page
 */

div.carrousel{
    display: inline;
    max-width: 140px;
    margin-right: 50px;
}


img.carrousel_tvshow{
    display: inline;
    max-width: 140px;
    margin-right: 50px;
    border-radius: 15px;
}

/* search */
span.searched {
    background-color: yellow;
}

/*
 * CSS Específicos
 */

img.plataforma {
    max-width: 220px;
    max-height: 420px;
}

img.mini_platform {
    max-width: 95%;
}
img.micro_platform {
    max-width: 100px;
}

span.sinopsis {
    padding-bottom: 10px;
    display: block;
}

a.tvshow_name {
    font-size: 120%;
    font-weight: bold;
}

img.tvshow {
    min-width: 30%;
    max-width: 90%;
    border-radius: 15px;
}

img.micro_tvshow {
    min-width: 30%;
    max-width: 90%;
    border-radius: 15px;
}

img.celebrity {
    max-width: 90%;
    /* max-width: 150px;
    max-height: 320px; */
    border-radius: 15px;
}

img.show {
    max-width: 85%;
    border-radius: 15px;
    margin-right: 20px;
}

.info {
    padding-left: 10px;
    border-left: 5px solid var(--corporativo);
}

.paginate {
    margin-top: 40px;
}
