:root {
    --corporativo: #F25416;
}

a {
    color: var(--corporativo);
}

td {
    padding-bottom: 30px;
}

th {
    padding-bottom: 30px;
}

.titulo {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

span.botones {
    float:right;
}

img.plataforma_img {
    max-width: 220px;
    max-height: 420px;
}

img.imagen_grande{
    max-width: 95%;
    margin-right: 20px;
}

img.celebrity_img {
    max-width: 150px;
    max-height: 320px;
    border-radius: 15px;
}

.celebrity_info {
    padding-left: 10px;
    border-left: 5px solid var(--corporativo);
}

.paginate {
    margin-top: 40px;
}
