/**
	Especificaciones CSS para el juego del solitario 
*/

/* /*** !!!!!!!!!!!!!!!!!!! CODIGO !!!!!!!!!!!!!!!!!!!! 
	Completar los estilos que faltan y modificar al gusto del alumno
**/
/* imagen del logo */
img#logo {
	height: 50px;
}

/* botón de reset */
#reset {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* cartas */
img.carta {
	width: 40px;
	float: left;
	position: absolute;
}

/* Todos los contadores estarán ubicados en la parte inferior 
   derecha (position absolute) de los respectivos tapetes (position relative).
*/
.contador {
	position: absolute;
	bottom: 0px;
	right: 3px;
	color: white;
}
/* el contador inicial es especial por tener el border-radius más pronunciado */
#contador_inicial {
	bottom: 10px;
	right: 15px;
}


/* Centrado del título y color */
/* Fixed: el color oficial de la VIU parece que ha cambiado*/
h1#titulo {
	text-align: center;
	color: #F25416;
}

/* Centrado de los marcadores de tiempo y movimientos */
h2#marcadores{ 
	text-align: center; 
}

/* Mesa que contiene a los tapetes centrados */
div#mesa{
	text-align: center;
	background-color: #F25416;
	border-radius: 50px;
	/* border: 50px solid black;
	border-image-source: url("../imagenes/pildora_blanca.svg");
	border-image-slice: 40%;
	border-image-repeat: round; */
	margin: 50px 200px;
	padding: 50px;
}

/* Todos los tapetes con position relative para que
   los respectivos mazos (arrays de <img>) puedan
   posicionarse de manera absoluta respecto a ellos */
div.tapete{
	display: inline-block;
	position: relative;
	margin: 10px;
	background: url("../imagenes/sello-viu.svg") center no-repeat;
	border-radius: 10px;
	border: 2px solid;
}

/* Dimensiones y color de fondo para el tapete inicial */
div.tapete#inicial{
	width: 340px;
	height: 340px;			
	/* background-color: lightgrey; */
	border-radius: 30px;
	border-color: lightgrey;
}

/* Dimensiones para todos los tapetes salvo el inicial */
div.tapete:not(#inicial){				
	height: 125px;
	width: 100px;
}

/* Color de fondo para el tapete de las cartas sobrantes */
div.tapete#sobrantes{
	/* background-color: lightblue; */
	border-color: lightblue;
}

/* Color de fondo de los tapetes receptores */
div.tapete.receptor{
	/* background-color: lightgreen; */
	border-color: lightgreen;
	
}