<div *ngIf="plataforma.id;else elseBlock">
    <div class="align-items-center text-center">
        <!-- align-items-center text-center   d-flex align-items-center justify-content-center-->
        <div>
                <img class="imagen_plataforma" src="assets/img/plataforma_{{plataforma.id}}.jpg">
        </div>
        <div>
            <app-series [plataforma_id]="plataforma.id" (series_count)="series_count=$event"></app-series>
        </div>
        <h2>La plataforma {{plataforma.nombre}} tiene un total de {{series_count}} {{series_count>1?"series":"serie"}}</h2>
    </div>
    
</div>

<ng-template #elseBlock>
    <div class="alert alert-danger text-center" role="alert">
        <h1>La plataforma no existe</h1>
    </div>
</ng-template>