<div *ngIf="celebrity.id>0;else elseBlock">
    <div class="row justify-content-end ">
        <div class="offset-2 col-3 align-self-center">
                <img class="celebrity_big" src="{{celebrity.photo}}">
        </div>
        <div class="col align-self-center">
            <h1>{{celebrity.nombre}} {{celebrity.apellidos}}</h1>
            <p class="nacimiento">{{celebrity.nacimiento}} ({{celebrity.nacionalidad}})</p>
            <p><a href="{{celebrity.url}}">Ficha en IMDB</a></p>
        </div>
    </div>
    <app-series [celebrity_id]="celebrity.id"></app-series>
</div>

<ng-template #elseBlock>
    <div class="alert alert-danger text-center" role="alert">
        <h1>La celebrity no existe</h1>
    </div>
</ng-template>
